
/* ------------- General ------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
@font-face {
	font-family: "basiccontrols";
	src: url("basiccontrols.eot");
	src: url("basiccontrols.eot#iefix") format("embedded-opentype"),
			url("basiccontrols.woff") format("woff"),
			url("basiccontrols.ttf") format("truetype"),
			url("basiccontrols.svg#basic") format("svg");
	font-weight: normal;
	font-style: normal;
}

.csslider1 {
  display: inline-block;
  position: relative;
  max-width: 800px;
  height:470px;
  width: 100%;
  margin-top: 10px;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  height: 450px;
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}
.csslider1 > ul > .slide.img img {
  max-width:250px;
  max-height: 250px;

}
.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_lnk{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num12,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num12,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num3, 
.csslider1 > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrownext > label.num4, 
.csslider1 > #cs_slide1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrownext > label.num5,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrownext > label.num5, 
.csslider1 > #cs_slide1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_slide1_5:checked ~ .cs_arrownext > label.num6,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrownext > label.num6, 
.csslider1 > #cs_slide1_6:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_pause1_6:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_slide1_6:checked ~ .cs_arrownext > label.num7,
.csslider1 > #cs_pause1_6:checked ~ .cs_arrownext > label.num7, 
.csslider1 > #cs_slide1_7:checked ~ .cs_arrowprev > label.num6,
.csslider1 > #cs_pause1_7:checked ~ .cs_arrowprev > label.num6,
.csslider1 > #cs_slide1_7:checked ~ .cs_arrownext > label.num8,
.csslider1 > #cs_pause1_7:checked ~ .cs_arrownext > label.num8, 
.csslider1 > #cs_slide1_8:checked ~ .cs_arrowprev > label.num7,
.csslider1 > #cs_pause1_8:checked ~ .cs_arrowprev > label.num7,
.csslider1 > #cs_slide1_8:checked ~ .cs_arrownext > label.num9,
.csslider1 > #cs_pause1_8:checked ~ .cs_arrownext > label.num9, 
.csslider1 > #cs_slide1_9:checked ~ .cs_arrowprev > label.num8,
.csslider1 > #cs_pause1_9:checked ~ .cs_arrowprev > label.num8,
.csslider1 > #cs_slide1_9:checked ~ .cs_arrownext > label.num10,
.csslider1 > #cs_pause1_9:checked ~ .cs_arrownext > label.num10, 
.csslider1 > #cs_slide1_10:checked ~ .cs_arrowprev > label.num9,
.csslider1 > #cs_pause1_10:checked ~ .cs_arrowprev > label.num9,
.csslider1 > #cs_slide1_10:checked ~ .cs_arrownext > label.num11,
.csslider1 > #cs_pause1_10:checked ~ .cs_arrownext > label.num11, 
.csslider1 > #cs_slide1_11:checked ~ .cs_arrowprev > label.num10,
.csslider1 > #cs_pause1_11:checked ~ .cs_arrowprev > label.num10,
.csslider1 > #cs_slide1_11:checked ~ .cs_arrownext > label.num12,
.csslider1 > #cs_pause1_11:checked ~ .cs_arrownext > label.num12, 
.csslider1 > #cs_slide1_12:checked ~ .cs_arrowprev > label.num11,
.csslider1 > #cs_pause1_12:checked ~ .cs_arrowprev > label.num11,
.csslider1 > #cs_slide1_12:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_12:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow {
  0%, 7.682307692307693% { opacity: 1; z-index: 5; }
  7.6923076923076925%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow {
  0%, 7.682307692307693% { opacity: 1; z-index: 5; }
  7.6923076923076925%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num12,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow 104000ms infinite -2000ms;
  animation: arrow 104000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {
  -webkit-animation: arrow 104000ms infinite 6000ms;
  animation: arrow 104000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num3 {
  -webkit-animation: arrow 104000ms infinite 14000ms;
  animation: arrow 104000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num4 {
  -webkit-animation: arrow 104000ms infinite 22000ms;
  animation: arrow 104000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num5 {
  -webkit-animation: arrow 104000ms infinite 30000ms;
  animation: arrow 104000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num6 {
  -webkit-animation: arrow 104000ms infinite 38000ms;
  animation: arrow 104000ms infinite 38000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num7 {
  -webkit-animation: arrow 104000ms infinite 46000ms;
  animation: arrow 104000ms infinite 46000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num6,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num8 {
  -webkit-animation: arrow 104000ms infinite 54000ms;
  animation: arrow 104000ms infinite 54000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num7,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num9 {
  -webkit-animation: arrow 104000ms infinite 62000ms;
  animation: arrow 104000ms infinite 62000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num8,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num10 {
  -webkit-animation: arrow 104000ms infinite 70000ms;
  animation: arrow 104000ms infinite 70000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num9,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num11 {
  -webkit-animation: arrow 104000ms infinite 78000ms;
  animation: arrow 104000ms infinite 78000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num10,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num12 {
  -webkit-animation: arrow 104000ms infinite 86000ms;
  animation: arrow 104000ms infinite 86000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num11,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow 104000ms infinite 94000ms;
  animation: arrow 104000ms infinite 94000ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -48px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: 50px;
  max-height: 50px;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
  z-index: 3;
}
.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
  color: inherit;
}
.csslider1 > .cs_description a:hover {
  text-decoration: none;
}
.csslider1 > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.csslider1 > .cs_description > label > span {
  vertical-align: top;
}
.csslider1 > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- General Play Pause ------------- */
.csslider1 > .cs_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.csslider1 > .cs_play_pause > label {
  position: absolute;
  cursor: pointer;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_play {
  display: block;
  z-index: 5;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  display: none;
  z-index: -1;
}



@-webkit-keyframes pauseChange {
  0%, 7.682307692307693% { opacity: 1; z-index: 5; }
  7.6923076923076925%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes pauseChange {
  0%, 7.682307692307693% { opacity: 1; z-index: 5; }
  7.6923076923076925%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite -2000ms;
  animation: pauseChange 104000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 6000ms;
  animation: pauseChange 104000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num2 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 14000ms;
  animation: pauseChange 104000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num3 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 22000ms;
  animation: pauseChange 104000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num4 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 30000ms;
  animation: pauseChange 104000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num5 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 38000ms;
  animation: pauseChange 104000ms infinite 38000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num6 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 46000ms;
  animation: pauseChange 104000ms infinite 46000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num7 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 54000ms;
  animation: pauseChange 104000ms infinite 54000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num8 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 62000ms;
  animation: pauseChange 104000ms infinite 62000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num9 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 70000ms;
  animation: pauseChange 104000ms infinite 70000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num10 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 78000ms;
  animation: pauseChange 104000ms infinite 78000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num11 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 86000ms;
  animation: pauseChange 104000ms infinite 86000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num12 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 104000ms infinite 94000ms;
  animation: pauseChange 104000ms infinite 94000ms;
}


.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- Effect ------------- */
.csslider1 > ul > .slide.num0 {
  left: 0%;
}
.csslider1 > ul > .slide.num1 {
  left: 100%;
}
.csslider1 > ul > .slide.num2 {
  left: 200%;
}
.csslider1 > ul > .slide.num3 {
  left: 300%;
}
.csslider1 > ul > .slide.num4 {
  left: 400%;
}
.csslider1 > ul > .slide.num5 {
  left: 500%;
}
.csslider1 > ul > .slide.num6 {
  left: 600%;
}
.csslider1 > ul > .slide.num7 {
  left: 700%;
}
.csslider1 > ul > .slide.num8 {
  left: 800%;
}
.csslider1 > ul > .slide.num9 {
  left: 900%;
}
.csslider1 > ul > .slide.num10 {
  left: 1000%;
}
.csslider1 > ul > .slide.num11 {
  left: 1100%;
}
.csslider1 > ul > .slide.num12 {
  left: 1200%;
}
 


.csslider1 > #cs_slide1_0:checked ~ ul > .slide,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.csslider1 > #cs_slide1_1:checked ~ ul > .slide,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.csslider1 > #cs_slide1_2:checked ~ ul > .slide,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.csslider1 > #cs_slide1_3:checked ~ ul > .slide,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.csslider1 > #cs_slide1_4:checked ~ ul > .slide,
.csslider1 > #cs_pause1_4:checked ~ ul > .slide {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}
.csslider1 > #cs_slide1_5:checked ~ ul > .slide,
.csslider1 > #cs_pause1_5:checked ~ ul > .slide {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}
.csslider1 > #cs_slide1_6:checked ~ ul > .slide,
.csslider1 > #cs_pause1_6:checked ~ ul > .slide {
  -webkit-transform: translateX(-600%);
  transform: translateX(-600%);
}
.csslider1 > #cs_slide1_7:checked ~ ul > .slide,
.csslider1 > #cs_pause1_7:checked ~ ul > .slide {
  -webkit-transform: translateX(-700%);
  transform: translateX(-700%);
}
.csslider1 > #cs_slide1_8:checked ~ ul > .slide,
.csslider1 > #cs_pause1_8:checked ~ ul > .slide {
  -webkit-transform: translateX(-800%);
  transform: translateX(-800%);
}
.csslider1 > #cs_slide1_9:checked ~ ul > .slide,
.csslider1 > #cs_pause1_9:checked ~ ul > .slide {
  -webkit-transform: translateX(-900%);
  transform: translateX(-900%);
}
.csslider1 > #cs_slide1_10:checked ~ ul > .slide,
.csslider1 > #cs_pause1_10:checked ~ ul > .slide {
  -webkit-transform: translateX(-1000%);
  transform: translateX(-1000%);
}
.csslider1 > #cs_slide1_11:checked ~ ul > .slide,
.csslider1 > #cs_pause1_11:checked ~ ul > .slide {
  -webkit-transform: translateX(-1100%);
  transform: translateX(-1100%);
}
.csslider1 > #cs_slide1_12:checked ~ ul > .slide,
.csslider1 > #cs_pause1_12:checked ~ ul > .slide {
  -webkit-transform: translateX(-1200%);
  transform: translateX(-1200%);
}
 


.csslider1 > ul > .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;

  -webkit-transition: -webkit-transform 2000ms;
  transition: -webkit-transform 2000ms, transform 2000ms;

  
  -webkit-transform: scale(1);
  transform: scale(1);
}



@-webkit-keyframes slide {
  0%, 5.769230769230769%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  7.6923076923076925%, 13.461538461538462%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  15.384615384615385%, 21.153846153846153%  { -webkit-transform: translateX(-200%); transform: translateX(-200%); }
  23.076923076923077%, 28.846153846153847%  { -webkit-transform: translateX(-300%); transform: translateX(-300%); }
  30.76923076923077%, 36.53846153846154%  { -webkit-transform: translateX(-400%); transform: translateX(-400%); }
  38.46153846153846%, 44.23076923076923%  { -webkit-transform: translateX(-500%); transform: translateX(-500%); }
  46.15384615384615%, 51.92307692307693%  { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
  53.84615384615385%, 59.61538461538462%  { -webkit-transform: translateX(-700%); transform: translateX(-700%); }
  61.53846153846154%, 67.3076923076923%  { -webkit-transform: translateX(-800%); transform: translateX(-800%); }
  69.23076923076923%, 75%  { -webkit-transform: translateX(-900%); transform: translateX(-900%); }
  76.92307692307692%, 82.6923076923077%  { -webkit-transform: translateX(-1000%); transform: translateX(-1000%); }
  84.61538461538461%, 90.38461538461539%  { -webkit-transform: translateX(-1100%); transform: translateX(-1100%); }
  92.3076923076923%, 98.07692307692308%  { -webkit-transform: translateX(-1200%); transform: translateX(-1200%); }
  
}
@keyframes slide {
  0%, 5.769230769230769%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  7.6923076923076925%, 13.461538461538462%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  15.384615384615385%, 21.153846153846153%  { -webkit-transform: translateX(-200%); transform: translateX(-200%); }
  23.076923076923077%, 28.846153846153847%  { -webkit-transform: translateX(-300%); transform: translateX(-300%); }
  30.76923076923077%, 36.53846153846154%  { -webkit-transform: translateX(-400%); transform: translateX(-400%); }
  38.46153846153846%, 44.23076923076923%  { -webkit-transform: translateX(-500%); transform: translateX(-500%); }
  46.15384615384615%, 51.92307692307693%  { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
  53.84615384615385%, 59.61538461538462%  { -webkit-transform: translateX(-700%); transform: translateX(-700%); }
  61.53846153846154%, 67.3076923076923%  { -webkit-transform: translateX(-800%); transform: translateX(-800%); }
  69.23076923076923%, 75%  { -webkit-transform: translateX(-900%); transform: translateX(-900%); }
  76.92307692307692%, 82.6923076923077%  { -webkit-transform: translateX(-1000%); transform: translateX(-1000%); }
  84.61538461538461%, 90.38461538461539%  { -webkit-transform: translateX(-1100%); transform: translateX(-1100%); }
  92.3076923076923%, 98.07692307692308%  { -webkit-transform: translateX(-1200%); transform: translateX(-1200%); }
  
}

@keyframes slide-ie {
  0%, 5.769230769230769%  { margin-left: 0%; }
  7.6923076923076925%, 13.461538461538462%  { margin-left: -100%; }
  15.384615384615385%, 21.153846153846153%  { margin-left: -200%; }
  23.076923076923077%, 28.846153846153847%  { margin-left: -300%; }
  30.76923076923077%, 36.53846153846154%  { margin-left: -400%; }
  38.46153846153846%, 44.23076923076923%  { margin-left: -500%; }
  46.15384615384615%, 51.92307692307693%  { margin-left: -600%; }
  53.84615384615385%, 59.61538461538462%  { margin-left: -700%; }
  61.53846153846154%, 67.3076923076923%  { margin-left: -800%; }
  69.23076923076923%, 75%  { margin-left: -900%; }
  76.92307692307692%, 82.6923076923077%  { margin-left: -1000%; }
  84.61538461538461%, 90.38461538461539%  { margin-left: -1100%; }
  92.3076923076923%, 98.07692307692308%  { margin-left: -1200%; }
  
}

.csslider1  > #cs_play1:checked ~ ul > .slide {
  -webkit-animation: slide 104000ms infinite;
  animation: slide 104000ms infinite;
}
/* IE 10+ hack - cant animate translate :( */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .csslider1  > #cs_play1:checked ~ ul > .slide {
    animation: slide-ie 104000ms infinite;
  }
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  -webkit-transition: none;
  transition: none;
}


/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
  -webkit-transition: .4s all 0s ease;
  transition: .4s all 0s ease;
}
.csslider1 > .cs_arrowprev {
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.csslider1 > .cs_arrownext {
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  /*padding: 17px;*/
  height: 23px;
  width: 23px;
  margin-top: -28px;
  margin-left: -28px;
  color: white;
  background-color: #030083;

  border-radius: 50%;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label,
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.csslider1 > .cs_arrowprev {
  margin-left: 2px;
  left: 45px;
}
.csslider1 > .cs_arrownext {
  margin-right: 2px;
  right: 45px;
}
.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
  display: block;
  color:white;
}
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  display: block;
  font: 21px "basiccontrols";
  line-height: 23px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
  line-height: 29px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
  line-height: 29px;
}

.csslider1 > .cs_arrowprev > label span:after {
  content: '\e801';
}
.csslider1 > .cs_arrownext > label span:after {
  content: '\e800';
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
  background-color: #e5f6fe;
}

.csslider1 > .cs_arrownext:hover > label span {
  color: #000;
  -webkit-animation: nextArrow .7s infinite ease-in-out;
  animation: nextArrow .7s infinite ease-in-out;
}
.csslider1 > .cs_arrowprev:hover > label span {
  color: #000;
  -webkit-animation: prevArrow .7s infinite ease-in-out;
  animation: prevArrow .7s infinite ease-in-out;
}


@keyframes nextArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-webkit-keyframes nextArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes prevArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes prevArrow {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Play Pause ------------- */
.csslider1 > .cs_play_pause > label{
  text-decoration: none;
  /*padding: 17px;*/
  height: 23px;
  width: 23px;

  margin-top: -28px;
  margin-left: -28px;

  background-color: #030083;

  border-radius: 50%;
}
.csslider1 > .cs_play_pause > label,
.csslider1 > .cs_play_pause > label span:after {
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.csslider1 > .cs_play_pause > label span {
  display: block;
  color: white;
}
.csslider1 > .cs_play_pause > label span:after{
  display: block;
  font: 15px "basiccontrols";
  line-height: 25px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_play_pause > label span:after {
  line-height: 28px;
}
.csslider1 > .cs_play_pause > .cs_play span:after {
  content: '\e802';
}
.csslider1 > .cs_play_pause > .cs_pause span:after {
  content: '\e803';
}

.csslider1 > .cs_play_pause:hover > label {
  background-color: #e5f6fe;
}
.csslider1 > .cs_play_pause:hover > label span {
  color: #000;
  -wibkit-animation: playPause .7s infinite ease-in-out;
  animation: playPause .7s infinite ease-in-out;
}

@-webkit-keyframes playPause {
  0%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  25% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  75% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
}
@keyframes playPause {
  0%, 100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  25% { -webkit-transform: translateY(2px); transform: translateY(2px); }
  75% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
}
/* ------------- /Template Play Pause ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  bottom: 5px;
  margin-bottom: 5px;
}
.csslider1 > .cs_bullets > label {
  border-radius: 50%;
  margin: 0 5px;
  padding: 9px;
  background: #030083;
}


.csslider1 > .cs_bullets > label > .cs_thumb {
  border: 3px solid #030083;
  margin-top: -150%;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 50%;
  margin-left: -4px;
  bottom: -9px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #030083;
}
.csslider1 > .cs_bullets > label:hover > .cs_thumb {
  margin-top: -12px;
  opacity: 1;
  visibility: visible;
}



.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  background: transparent;
  border-radius: 50%;
  padding: 2px;
}

.csslider1 > .cs_bullets > label:hover > .cs_point,

.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_slide1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_slide1_5:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1_5:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_slide1_6:checked ~ .cs_bullets > label.num6 > .cs_point,
.csslider1 > #cs_pause1_6:checked ~ .cs_bullets > label.num6 > .cs_point,
.csslider1 > #cs_slide1_7:checked ~ .cs_bullets > label.num7 > .cs_point,
.csslider1 > #cs_pause1_7:checked ~ .cs_bullets > label.num7 > .cs_point,
.csslider1 > #cs_slide1_8:checked ~ .cs_bullets > label.num8 > .cs_point,
.csslider1 > #cs_pause1_8:checked ~ .cs_bullets > label.num8 > .cs_point,
.csslider1 > #cs_slide1_9:checked ~ .cs_bullets > label.num9 > .cs_point,
.csslider1 > #cs_pause1_9:checked ~ .cs_bullets > label.num9 > .cs_point,
.csslider1 > #cs_slide1_10:checked ~ .cs_bullets > label.num10 > .cs_point,
.csslider1 > #cs_pause1_10:checked ~ .cs_bullets > label.num10 > .cs_point,
.csslider1 > #cs_slide1_11:checked ~ .cs_bullets > label.num11 > .cs_point,
.csslider1 > #cs_pause1_11:checked ~ .cs_bullets > label.num11 > .cs_point,
.csslider1 > #cs_slide1_12:checked ~ .cs_bullets > label.num12 > .cs_point,
.csslider1 > #cs_pause1_12:checked ~ .cs_bullets > label.num12 > .cs_point {
  background: white;
}




@keyframes bullet {
  0%, 7.682307692307693%  { background: white; }
  7.6923076923076925%, 100% { background: transparent; }
}
@-webkit-keyframes bullet {
  0%, 7.682307692307693%  { background: white; }
  7.6923076923076925%, 100% { background: transparent; }
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet 104000ms infinite -2000ms;
  animation: bullet 104000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 6000ms;
  animation: bullet 104000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 14000ms;
  animation: bullet 104000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 22000ms;
  animation: bullet 104000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num4 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 30000ms;
  animation: bullet 104000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num5 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 38000ms;
  animation: bullet 104000ms infinite 38000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num6 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num6 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 46000ms;
  animation: bullet 104000ms infinite 46000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num7 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num7 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 54000ms;
  animation: bullet 104000ms infinite 54000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num8 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num8 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 62000ms;
  animation: bullet 104000ms infinite 62000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num9 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num9 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 70000ms;
  animation: bullet 104000ms infinite 70000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num10 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num10 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 78000ms;
  animation: bullet 104000ms infinite 78000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num11 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num11 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 86000ms;
  animation: bullet 104000ms infinite 86000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num12 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num12 > .cs_point {
  -webkit-animation: bullet 104000ms infinite 94000ms;
  animation: bullet 104000ms infinite 94000ms;
}



.csslider1 > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */

/* ------------- Template Description ------------- */


.csslider1 > .cs_description > label {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 20px;
  line-height: normal;
  bottom: 50px;
  top: auto;
  left: 10px;
  height:400px;
}

.csslider1 > .cs_description > label > span {
  color: white;
  position: relative;
  padding: 13px;
  border-radius: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 > .cs_title,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 > .cs_descr,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 > .cs_title,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 > .cs_descr,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 > .cs_title,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 > .cs_descr,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 > .cs_title,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 > .cs_descr,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 > .cs_title,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 > .cs_descr,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 > .cs_title,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 > .cs_descr,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 > .cs_title,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 > .cs_descr,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 > .cs_title,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 > .cs_descr,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 > .cs_title,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 > .cs_descr,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 > .cs_title,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 > .cs_descr,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 > .cs_title,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 > .cs_descr,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 > .cs_title,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 > .cs_descr,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 > .cs_title,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 > .cs_descr,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 > .cs_title,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 > .cs_descr {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 .cs_wrapper,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 .cs_wrapper,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 .cs_wrapper,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 .cs_wrapper,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 .cs_wrapper,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 .cs_wrapper,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 .cs_wrapper,
.csslider1 > #cs_slide1_6:checked ~ .cs_description > .num6 .cs_wrapper,
.csslider1 > #cs_pause1_6:checked ~ .cs_description > .num6 .cs_wrapper,
.csslider1 > #cs_slide1_7:checked ~ .cs_description > .num7 .cs_wrapper,
.csslider1 > #cs_pause1_7:checked ~ .cs_description > .num7 .cs_wrapper,
.csslider1 > #cs_slide1_8:checked ~ .cs_description > .num8 .cs_wrapper,
.csslider1 > #cs_pause1_8:checked ~ .cs_description > .num8 .cs_wrapper,
.csslider1 > #cs_slide1_9:checked ~ .cs_description > .num9 .cs_wrapper,
.csslider1 > #cs_pause1_9:checked ~ .cs_description > .num9 .cs_wrapper,
.csslider1 > #cs_slide1_10:checked ~ .cs_description > .num10 .cs_wrapper,
.csslider1 > #cs_pause1_10:checked ~ .cs_description > .num10 .cs_wrapper,
.csslider1 > #cs_slide1_11:checked ~ .cs_description > .num11 .cs_wrapper,
.csslider1 > #cs_pause1_11:checked ~ .cs_description > .num11 .cs_wrapper,
.csslider1 > #cs_slide1_12:checked ~ .cs_description > .num12 .cs_wrapper,
.csslider1 > #cs_pause1_12:checked ~ .cs_description > .num12 .cs_wrapper {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.csslider1 > .cs_description > label > .cs_title {
  background-color: #030083;
  margin: -5px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);

  -webkit-transition:
    950ms opacity 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider1 > .cs_description > label > .cs_descr {
  background-color: #e5f6fe;
  text-align: left;
  font-size: 0.8em;
  margin: -5px 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);

  -webkit-transition:
    950ms opacity 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms visibility 850ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.csslider1 > .cs_description > label > .cs_title > .cs_wrapper {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);

  -webkit-transition:
    950ms opacity 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 750ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider1 > .cs_description > label > .cs_descr > .cs_wrapper {
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);

  -webkit-transition:
    950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition:
    950ms opacity 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms -webkit-transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
    950ms transform 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}




@-webkit-keyframes cs_title {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  8.159038461538461%, 100%  { z-index: 0; }
}
@keyframes cs_title {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  8.159038461538461%, 100%  { z-index: 0; }
}


@-webkit-keyframes cs_descr {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  8.159038461538461%, 100%  { z-index: 0; }
}
@keyframes cs_descr {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  8.159038461538461%, 100%  { z-index: 0; }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite -1400ms ease;
  animation: cs_title 104000ms infinite -1400ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 6600ms ease;
  animation: cs_title 104000ms infinite 6600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 14600ms ease;
  animation: cs_title 104000ms infinite 14600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 22600ms ease;
  animation: cs_title 104000ms infinite 22600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 30600ms ease;
  animation: cs_title 104000ms infinite 30600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 38600ms ease;
  animation: cs_title 104000ms infinite 38600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num6  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 46600ms ease;
  animation: cs_title 104000ms infinite 46600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num7  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 54600ms ease;
  animation: cs_title 104000ms infinite 54600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num8  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 62600ms ease;
  animation: cs_title 104000ms infinite 62600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num9  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 70600ms ease;
  animation: cs_title 104000ms infinite 70600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num10  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 78600ms ease;
  animation: cs_title 104000ms infinite 78600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num11  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 86600ms ease;
  animation: cs_title 104000ms infinite 86600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num12  > .cs_title {
  -webkit-animation: cs_title 104000ms infinite 94600ms ease;
  animation: cs_title 104000ms infinite 94600ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite -1150ms ease;
  animation: cs_descr 104000ms infinite -1150ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 6850ms ease;
  animation: cs_descr 104000ms infinite 6850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 14850ms ease;
  animation: cs_descr 104000ms infinite 14850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 22850ms ease;
  animation: cs_descr 104000ms infinite 22850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 30850ms ease;
  animation: cs_descr 104000ms infinite 30850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 38850ms ease;
  animation: cs_descr 104000ms infinite 38850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num6  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 46850ms ease;
  animation: cs_descr 104000ms infinite 46850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num7  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 54850ms ease;
  animation: cs_descr 104000ms infinite 54850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num8  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 62850ms ease;
  animation: cs_descr 104000ms infinite 62850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num9  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 70850ms ease;
  animation: cs_descr 104000ms infinite 70850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num10  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 78850ms ease;
  animation: cs_descr 104000ms infinite 78850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num11  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 86850ms ease;
  animation: cs_descr 104000ms infinite 86850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num12  > .cs_descr {
  -webkit-animation: cs_descr 104000ms infinite 94850ms ease;
  animation: cs_descr 104000ms infinite 94850ms ease;
}




@-webkit-keyframes cs_title_text {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes cs_title_text {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}


@-webkit-keyframes cs_descr_text {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes cs_descr_text {
  0.31971153846153844%, 7.362596153846154%  {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  0.4567307692307692%, 7.225576923076924%  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  8.149038461538462%  {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite -1250ms ease;
  animation: cs_title_text 104000ms infinite -1250ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 6750ms ease;
  animation: cs_title_text 104000ms infinite 6750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 14750ms ease;
  animation: cs_title_text 104000ms infinite 14750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 22750ms ease;
  animation: cs_title_text 104000ms infinite 22750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 30750ms ease;
  animation: cs_title_text 104000ms infinite 30750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 38750ms ease;
  animation: cs_title_text 104000ms infinite 38750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num6 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 46750ms ease;
  animation: cs_title_text 104000ms infinite 46750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num7 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 54750ms ease;
  animation: cs_title_text 104000ms infinite 54750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num8 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 62750ms ease;
  animation: cs_title_text 104000ms infinite 62750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num9 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 70750ms ease;
  animation: cs_title_text 104000ms infinite 70750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num10 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 78750ms ease;
  animation: cs_title_text 104000ms infinite 78750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num11 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 86750ms ease;
  animation: cs_title_text 104000ms infinite 86750ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num12 .cs_title > .cs_wrapper {
  -webkit-animation: cs_title_text 104000ms infinite 94750ms ease;
  animation: cs_title_text 104000ms infinite 94750ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite -1000ms ease;
  animation: cs_descr_text 104000ms infinite -1000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 7000ms ease;
  animation: cs_descr_text 104000ms infinite 7000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 15000ms ease;
  animation: cs_descr_text 104000ms infinite 15000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 23000ms ease;
  animation: cs_descr_text 104000ms infinite 23000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 31000ms ease;
  animation: cs_descr_text 104000ms infinite 31000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 39000ms ease;
  animation: cs_descr_text 104000ms infinite 39000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num6 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 47000ms ease;
  animation: cs_descr_text 104000ms infinite 47000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num7 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 55000ms ease;
  animation: cs_descr_text 104000ms infinite 55000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num8 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 63000ms ease;
  animation: cs_descr_text 104000ms infinite 63000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num9 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 71000ms ease;
  animation: cs_descr_text 104000ms infinite 71000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num10 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 79000ms ease;
  animation: cs_descr_text 104000ms infinite 79000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num11 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 87000ms ease;
  animation: cs_descr_text 104000ms infinite 87000ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num12 .cs_descr > .cs_wrapper {
  -webkit-animation: cs_descr_text 104000ms infinite 95000ms ease;
  animation: cs_descr_text 104000ms infinite 95000ms ease;
}




.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title > .cs_wrapper,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr > .cs_wrapper {
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}
