/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (min-width: 769px) {

/* GLOBAL STYLES */

.page {
	clear: both;
	text-align: left;
}
.page-title h1 {
    text-align: center;
}

/* HEADER */
/* HEADER MENU */
/* FOOTER */

    .footer-upper {
        padding: 20px 10px 30px;
    }
        .footer-upper .footer-block {
            width: 33%;
            font-size: 0;
        }
        .social-sharing {
            margin: 0;
            float: left;
        }
        .subscribe-block {
            float: right;
        }
        .subscribe-block .block-newsletter {
            margin: 18px 0 0;
        }

    .footer-middle .footer-block {
        width: 32%;
    }
    .footer-middle .footer-block-first {
        width: 32%;
        margin-right: 20px;
    }
        .footer-middle .footer-block:last-child {
            width: 100%;
        }
    .contact-block .footer-menu li {
        display:inline-block;
        padding: 7px 32px;
    }

    .accepted-payment-methods {
        float: right;
    }
        .accepted-payment-methods ul {
            margin: 0;
        }
    .footer-powered-by, 
    .footer-disclaimer,
    .footer-tax-shipping {
        float: left;
        clear: left;
        margin: 0 0 2px;
    }

/* LEFT/RIGHT COLUMN */

    .block {
	    text-align: left;
    }
    .block .tags li,
    .product-tags-all-page li {
	    margin: 0 5px;
    }
    .poll-options li,
    .poll-results li {
	    display: block;
    }
    .poll .buttons,
    .poll-total-votes {
	    text-align: left;
    }

/* CATEGORY PAGE & GRIDS */

    .product-grid .title {
        display: table;
        width: 100%;
    }
        .product-grid .title:before,  
        .product-grid .title:after {
            content: " ";
            display: table-cell;
            width: 30%;
            background: url(../img/title-lines.png) repeat-x left center;
        }
            .product-grid .title strong {
                display: table-cell;
                width: 40%;
            }

    .item-box {
	    width: 32.33333333333333%;
        margin: 0 .5% 1%;
    }

    .product-list .item-box {
        width: 85% !important;
        margin: 0 auto 2%;
        float: none !important;
        display: block;
    }

/* PRODUCT PAGE */

    .product-details-page .overview {
        width: 43%;
        float: left;
    }
    .gallery {
        width: 55%;
        float: right;
    }
    .gallery .picture {
	    margin: 0 0 10px;
    }
    .overview .buttons {
	    text-align: left;
    }
    .overview .buttons div {
	    margin: 0 10px 10px 0;
    }
    .free-shipping {
	    margin: 20px 0;
    }
    .overview .add-to-cart {
        text-align: left;
    }
    .overview .qty-label,
    .variant-overview .qty-label {
	    position: static;
	    left: 0;
	    margin: 0 5px 0 0;
    }

    .product-variant-line {
        width: 85%;
        margin: 0 auto 10px;
    }
    .variant-picture {
	    width: 280px;
    }
    .variant-picture + .variant-overview {
	    width: auto;
	    margin: 0 0 0 300px;
    }

/* QUICK TABS */

    .ui-tabs {
        width: 55%;
        float: right;
    }
    .ui-tabs .gallery {
        width: 100%;
        float: none;
    }

/* ATTRIBUTES */

    .attributes {
	    margin: 0 0 10px;
    }
    .attributes dt {
	    float: left;
	    clear: left;
	    min-width: 60px;
	    margin-right: 10px;
    }
    .attributes dt label {
	    line-height: 32px;
    }
    .attributes dd {
	    float: left;
	    margin-right: 10px;
    }
    .color-squares {
	    text-align: center;
    }
    .color-squares label {
	    margin: 0 10px 0 0;
	    padding: 0 !important;
    }

/* GIFT CARD */

    .giftcard label {
	    display: inline-block;
	    margin: 0 10px 0 0;
        width: 35%;
        text-align: right;
    }

/* REVIEW PAGE */
/* WISHLIST & COMPARE LIST */

    .wishlist-content .buttons {
	    text-align: left;
    }
    .wishlist-content .button-2 {
	    margin: 0 10px 0 0;
    }

/* PASSWORD PROTECTION */
/* CONTACT PAGE & EMAILaFRIEND */
/* REGISTRATION, LOGIN, MY ACCOUNT */

    .address-item, .order-item {
        width: 32.33333333%;
    }
        .address-item:nth-child(3n+1),
        .order-item:nth-child(3n+1) {
            clear: both;
        }

    .avatar-page .fieldset {
	    float: left;
	    margin-right: 10px;
    }
    .avatar-page .buttons {
	    text-align: left;
    }

/* SHOPPING CART & CHECKOUT */

    .checkout-attributes li {
	    display: inline-block;
	    margin: 0 5px;
    }
    .shopping-cart-page .totals {
	    float: right;
	    margin: 0 25px;
    }
    .cart-collaterals {
	    float: left;
	    margin: 0 25px;
    }
    .checkout-buttons,
    .addon-buttons {
        text-align: right;
    }

    .checkout-page .address-item {
	    float: left;
	    margin: 0 20px 0 0;
    }
    .payment-logo,
    .payment-details {
	    display: inline-block;
	    margin: 0 5px;
	    vertical-align: middle;
    }
    .order-details-page .page-title a {
	    float: right;
	    margin: 3px;
    }
    .order-details-page .actions {
	    text-align: right;
    }
    .order-details-page .actions input {
	    min-width: 0;
    }
    .order-details-page .total-info {
	    overflow: hidden;
    }
    .order-details-page .cart-total {
	    float: right;
    }

    .opc .buttons {
        text-align: right;
    }

/* SEARCH & SITEMAP */
/* BLOG & NEWS */

    .news-list-homepage .title {
        display: table;
        width: 100%;
    }
        .news-list-homepage .title:before,  
        .news-list-homepage .title:after {
            content: " ";
            display: table-cell;
            width: 30%;
            background: url(../img/title-lines.png) repeat-x left center;
        }
            .news-list-homepage .title strong {
                display: table-cell;
                width: 40%;
                padding: 0 25px;
            }

    .news-items .item {
        display: inline-block;
        width: 32.33333333333333%;
        margin: 0 .5% 1%;
        max-width: none;
    }
    .blog-page .tags > *,
    .blogpost-page .tags > * {
	    float: left;
    }
    .blog-page .tags label,
    .blogpost-page .tags label {
	    margin: 0 10px 0 0;
	    line-height: 24px;
    }
    .new-comment textarea {
	    width: 500px;
    }


/* TOPICS */

    .topic-html-content-title {
        display: table;
        width: 100%;
    }
        .topic-html-content-title:before,  
        .topic-html-content-title:after {
            content: " ";
            display: table-cell;
            width: 30%;
            background: url(../img/title-lines.png) repeat-x left center;
        }
            .topic-html-content-title h2 {
                display: table-cell;
                width: 40%;
                padding: 0 25px;
            }

/* POLL */

    .todays-poll-box .poll {
        float: left;
        width: 42%;
        margin: 0 4% 20px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1000px) {

    .side-2 {
        overflow: hidden;
    }
    .side-2 .block {
        float: left;
        width: 31.333333333%;
        margin: 0 1% 2%;
    }
        .side-2 .block:nth-child(3n+1) {
            clear: both;
        }

/* CATEGORY PAGE & GRIDS */

    .item-box:nth-child(3n+1) {
        clear: both;
    }

}